#jinja2:lstrip_blocks: True
# {{ ansible_managed }}
{#
 Only one rule with all variables with if everywhere
-#}

{% if iptables_tables is defined %}
  {% if iptables_tables is mapping -%}

    {# Process rules table by table -#}
    {%- for table, chains in iptables_tables.iteritems() -%}

      {# Ugly workaround cuz jinja vars are limited to blocks #}
      {%- if _handled_tables is not defined %}
        {%- set _handled_tables = {} -%}
      {% endif -%}

      {%- for c in chains -%}
        {# Use only ipv6 in that template #}
        {%- if c.provider is not defined or c.provider == iptables_provider_ipv6 -%}

          {# register handled tables and then precise table name in file -#}
          {%- if table not in _handled_tables.keys() -%}
            {%- set _tmp = _handled_tables.update({table:True}) -%}

            {# Source: https://git.netfilter.org/iptables/tree/iptables/iptables-save.c#n78 -#}
            *{{ table | lower }}
          {% endif -%}

          {# Second put policies for all chains of current table -#}

          {# chains format : https://git.netfilter.org/iptables/tree/iptables/iptables-save.c#n117
          We don't keep packets bytes because it would be hard to retrieve and not accurate -#}

          :{{ c.chain | upper }} {{ c.policy | default(iptables_default_policy) | upper }} [0:0]
        {% endif %}
      {% endfor -%}

      {# Then add rules for that table #}
      {% if iptables_rules is defined %}
        {% if iptables_rules is iterable -%}

          {# Rules are sorted once in a upper task. #}
          {% for rule in iptables_rules %}

            {#- we only deal with ipv6 in this template #}
            {% if rule.provider|default(iptables_rules_default_provider) == iptables_provider_ipv6 %}
              {# add rules according to current table #}
              {%- if rule.table|default(iptables_rules_default_table) == table -%}

                -A {{ rule.chain|default(iptables_rules_default_chain)|upper }}
                {%- if rule.in_iface is defined %} -i {{ rule.in_iface }}{% endif -%}
                {%- if rule.out_iface is defined %} -o {{ rule.out_iface }}{% endif -%}
                {%- if rule.source is defined %} -s {{ rule.source }}{% endif -%}
                {%- if rule.protocol is defined %} -p {{ rule.protocol|lower }}{% endif -%}
                {%- if rule.dports is defined %} -m multiport --dports {{ rule.dports }}{% endif -%}
                {%- if rule.sports is defined %} -m multiport --sports {{ rule.sports }}{% endif -%}
                {%- if rule.extras is defined %} {{ rule.extras }}{% endif %} -m comment --comment "{{ rule.name }}" -j {{ rule.target|default(iptables_rules_default_target)|upper }}
              {% endif %}{# end if table match -#}

            {% endif %}{# end if provider -#}

          {% endfor %}{# end for rules -#}

        {% endif %}{# end if rules mapping -#}

      {% endif %}{# end if rules defined -#}

      {%- if _handled_tables is defined -%}
        {%- if _handled_tables is mapping -%}
          {%- if table in _handled_tables.keys() -%}
            {# Commit only if we put some policies for chains in that rule.
               Else: means we don't want to handle this table for that provider -#}
            COMMIT
          {% endif -%}
        {% endif -%}
      {% endif -%}

    {% endfor %}{# end for tables #}
  {% endif %}{# end if iptables_tables is not null -#}

{% endif %}{# end if iptables_tables exists -#}

{# vim:ft=jinja:
#}
